.not-found-container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.not-found-container {
  padding-top: 100px; 
  padding-bottom: 100px; 
  margin-bottom: 100px;
  margin-top: 100px;
}

.not-found-image {
    width: 1000px;
    margin: 0px 0;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.not-found-message {
    font-size: 2rem;
    margin: 20px auto;
    color: #1f2937;
    line-height: 1.5;
    max-width: 1000px;
    text-align: center;
    word-wrap: break-word; 
    white-space: normal; 
}


.not-found-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #f97316;
    background-color: #f3f4f6;
    color: #f97316;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.not-found-button:hover {
    background-color: #f97316;
    color: #fff;
    border-color: #fff;
}
