.footer {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-column {
  width: 29%;
  min-width: 200px;
  margin-bottom: 30px;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-contact {
  font-size: 12px;
  line-height: 1.5;
  column-count: 2;
  column-gap: 20px;

}

.footer-support {
  margin-bottom: 5px;
  color: #aaaaaa;
  cursor: pointer;
}

.footer-phone {
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-address,
.footer-email {
  margin: 0;
  color: #cccccc;
  margin-top: 5px;
  cursor: pointer;
}

.footer-title {
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #cccccc;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #EBC80C;
}

.footer-browse {
  color: #EBC80C;
  display: flex;
  align-items: center;
}

.footer-browse span {
  margin-left: 5px;
}

.footer-copyright {
  border-top: 1px solid #ffffff;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  color: #ffff;
}

.footer-apps {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0;
}

.footer-apps a {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #303639;
  border-radius: 4px;
  text-decoration: none;
  width: 65%;
  color: white;
  transition: all 0.3s ease;
  border: 1px solid #303639;
}

.footer-apps a:hover {
  background-color: #4a4a4a;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.footer-apps span {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.footer-links-multi {
  column-count: 2;
  column-gap: 20px;
}

.footer-column:nth-child(2),
.footer-column.download-app {
  margin-top: 20px; 
}
