.spinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 1.5rem;
  z-index: 9999;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Hiệu ứng quay tròn */
@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}